@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is currently in development. It is intended to become a source of tools and information useful to anybody with an interest in aquariums.</p>
    @*{Keeping for notes: https://docs.microsoft.com/aspnet/core Razor comments aren't sent to the client}*@
</div>
