
@{
    ViewData["Title"] = "Volume";
}
<div class="text-center">
    <h1 class="display-4">Tank Volume Calulator</h1>
</div>

<body>
    <p class="text-lg-center">Select tank shape:</p>
    <div class="container mx-auto">
        <div class="row mx-auto">
            <div class="d-block text-center mx-auto">
                <img src="~/images/cubedemo.png" class="mx-auto img-fluid" />
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tankShape" id="tankShape1" value="option1">
                    <label class="form-check-label" for="tankShape1">Box</label>
                </div>
            </div>
            <div class="d-block text-center mx-2">
                <img src="~/images/cylinderdemo.png" class="mx-auto img-fluid" />
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tankShape" id="tankShape2" value="option2">
                    <label class="form-check-label" for="tankShape2">Cylinder</label>
                </div>
            </div>
            <div class="d-block text-center mx-auto">
                <img src="~/images/spheredemo.png" class="mx-auto img-fluid" />
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tankShape" id="tankShape3" value="option3">
                    <label class="form-check-label" for="tankShape3">Sphere</label>
                </div>
            </div>
        </div>
        <div class="text-center" id="dimensionsForm" style="display:none">
            Enter tank dimensions
            <form>
                <div id="height" style="display:none">
                    Height: 
                    <input class="d-inline" />
                </div>
                <div id="length" style="display:none">
                    Length:
                    <input class="d-inline" />
                </div>
                <div id="width" style="display:none">
                    Width: 
                    <input class="d-inline" />
                </div>
                <div id="diameter" style="display:none">
                    Diameter:
                    <input class="d-inline" />
                </div>
            </form>
        </div>
    </div>
    <script>
        var radio1 = document.getElementById('tankShape1');
        var radio2 = document.getElementById('tankShape2');
        var radio3 = document.getElementById('tankShape3');
        var dimensionsDiv = document.getElementById('dimensionsForm');

        var height = document.getElementById('height');
        var width = document.getElementById('width');
        var length = document.getElementById('length');
        var diameter = document.getElementById('diameter');

        radio1.onclick = function () {
            dimensionsDiv.style['display'] = 'block';
            diameter.style['display'] = 'none';
            length.style['display'] = 'block';
            height.style['display'] = 'block';
            width.style['display'] = 'block';
        }
        radio2.onclick = function () {
            dimensionsDiv.style['display'] = 'block';
            diameter.style['display'] = 'block';
            height.style['display'] = 'block';
            width.style['display'] = 'none';
            length.style['display'] = 'none';
        }
        radio3.onclick = function () {
            dimensionsDiv.style['display'] = 'block';
            diameter.style['display'] = 'block';
            height.style['display'] = 'none';
            width.style['display'] = 'none';
            length.style['display'] = 'none';
        }
    </script>
</body>
